<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/98.css" />
        <script src="https://unpkg.com/htmx.org@1.9.4"></script>
        <script src="https://unpkg.com/htmx.org@1.9.4/dist/ext/ws.js"></script>
        <script src="https://unpkg.com/alpinejs@3.13.2" defer></script>
        <style>
            .mt-1 {
                margin-top: 1em;
            }
            .min-h-5 {
                min-height: 5em;
            }
            .dib {
                display: inline-block;
            }
        </style>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block main %}{% endblock %}
    </body>
</html>
