{% extends "base.html" %}

{% block title %}Computer-Adaptive Test Demo Configuration{% endblock %}

{% block extra_head %} {% endblock %}

{% block main %}
  <div class="window" style="margin: 32px; width: 500px">
    <div class="title-bar">
      <div class="title-bar-text">
        Computer-Adaptive Test Demo Configuration
      </div>

      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>
    <div class="window-body">
      {% raw %}
      <form name="catconfig" action="/test" method="get" x-data="{f: {}}">
      {% endraw %}
        <fieldset>
          <legend>Test selection</legend>
          <select name="test">
            <optgroup label="Synthetic">
              <option>Guassian generator</option>
              <option>Clumpy generator</option>
            </optgroup>
            <optgroup label="Datasets">
              {< render_options(datasets) >}
            </optgroup>
          </select>
        </fieldset>
        <fieldset class="mt-1">
          <legend>CAT Procedure</legend>
          <fieldset>
            <legend>Ability estimation</legend>
            {< render_stacked(ability_estimation_distribution) >}
            {< render_stacked(ability_estimation) >}
            {< render_stacked(form.lower_bound) >}
            {< render_stacked(form.upper_bound) >}
            {< render_stacked(integrators) >}
            <div class="field-row-stacked" x-show="f.integrator == 'evengrid'">
              <label for="abiltrack">
                Ability tracker
              </label>
              <select name="abiltrack">
                {< render_options(ability_tracker) >}
              </select>
            </div>
            {< render_stacked(form.integrator_order) >}
            {< render_stacked(optimizers) >}
          </fieldset>
          <fieldset class="mt-1">
            <legend>Next item</legend>
            {< render_stacked(next_item_rules) >}
          </fieldset>
          <fieldset class="mt-1">
            <legend>Termination</legend>
            {< render_stacked(termination_conditions) >}
            {< render_stacked(form.nitems) >}
          </fieldset>
        </fieldset>
        <fieldset class="mt-1">
          <legend>Display</legend>
          {< render_row(form.ability_end) >}
          {< render_row(form.results_end) >}
          {< render_row(form.record) >}
          {< render_row(form.results_cont) >}
          {< render_row(form.answer_cont) >}
        </fieldset>
        <section class="field-row" class="mt-1" style="justify-content: flex-end">
          <input value="OK" type="submit">
          <button>Cancel</button>
        </section>
      </form>
    </div>
  </div>
{% endblock %}
