{% extends "base.html" %}

{% block title %}Computer-Adaptive Test Demo Configuration{% endblock %}

{% block extra_head %} {% endblock %}

{% block main %}
  <div class="window" style="margin: 32px; width: 500px">
    <div class="title-bar">
      <div class="title-bar-text">
        Computer-Adaptive Test Demo Configuration
      </div>

      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>
    <div class="window-body">
      {% raw %}
      <form name="catconfig" action="/test" method="get" x-data="{f: {}}">
      {% endraw %}
        <fieldset>
          <legend>Test selection</legend>
          <select name="test">
            {{ datasets |> render_options }}
          </select>
          <button type="submit" formaction="/inspect">Inspect item bank</button>
        </fieldset>
        <fieldset class="mt-1">
          <legend>CAT Procedure</legend>
          <fieldset>
            <legend>Ability estimation</legend>
            {{ ability_estimation_distribution |> render_stacked }}
            {{ ability_estimation |> render_stacked }}
            {{ form.lower_bound |> render_stacked }}
            {{ form.upper_bound |> render_stacked }}
            {{ integrators |> render_stacked }}
            <div class="field-row-stacked" x-show="f.integrator == 'evengrid'">
              <label for="abiltrack">
                Ability tracker
              </label>
              <select name="abiltrack">
                {{ ability_tracker |> render_options }}
              </select>
            </div>
            {{ form.integrator_order |> render_stacked }}
            {{ optimizers |> render_stacked }}
          </fieldset>
          <fieldset class="mt-1">
            <legend>Next item</legend>
            {{ next_item_rules |> render_stacked }}
          </fieldset>
          <fieldset class="mt-1">
            <legend>Termination</legend>
            {{ termination_conditions |> render_stacked }}
            {{ form.nitems |> render_stacked }}
          </fieldset>
        </fieldset>
        <fieldset class="mt-1">
          <legend>Display</legend>
          <fieldset class="mt-1">
            <legend>During test</legend>
            {{ form.results_cont |> render_row }}
            {{ form.answer_cont |> render_row }}
          </fieldset>
          <fieldset class="mt-1">
            <legend>After test</legend>
            {{ form.ability_end |> render_row }}
            {{ form.results_end |> render_row }}
            {{ form.record |> render_row }}
          </fieldset>
        </fieldset>
        <section class="field-row" class="mt-1" style="justify-content: flex-end">
          <button type="submit">OK</button>
          <button>Cancel</button>
        </section>
      </form>
    </div>
  </div>
{% endblock %}
