{% extends "base.html" %}

{% block title %}Inspecting Item Bank (Computer-Adaptive Test Demo){% endblock %}

{% block extra_head %}
  <script>
    window.current_bonito_session_id = "{{ sid }}";
  </script>
{% endblock %}

{% block main %}
  <div class="window" style="margin: 32px; width: 1000px">
    <div class="title-bar">
      <div class="title-bar-text">
        Inspecting Item Bank:
      </div>

      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>
    <div class="window-body">
      <form hx-get="/inspect" hx-target="#plot-panel" hx-headers='js:{"Bonito-Session-ID": current_bonito_session_id}'>
        <input type="hidden" name="test" value="{{ test }}">
        <div style="display: flex; align-items: flex-start; padding-bottom: 1em">
          <div>
            <div style="overflow: auto; max-height: 400px;" class="dib">
              <a
                href="#"
                onclick="for (var check of document.getElementsByClassName('item-checkbox')) check.checked = true"
              ">Select all</a>
              <a
                href="#"
                onclick="for (var check of document.getElementsByClassName('item-checkbox')) check.checked = false"
              >Select none</a>
              {% for item in items %}
                <div>
                  <input class="item-checkbox" type="checkbox" id="item-{{ item }}" name="item" value="{{ item }}" checked>
                  <label for="item-{{ item }}">item {{ item }}</label>
                  <a
                    href="#"
                    hx-get="/preview?test={{ test }}&item={{ item }}"
                    hx-target="#preview-panel"
                  >preview</a>
                </div>
              {% end %}
            </div>
          </div>
          <div class="status-field-border" style="min-height: 200px; min-width: 300px; margin: 1em" id="preview-panel">

          </div>
          <div style="align-self: flex-end;">
            <button onclick="history.back()">Back</button>
            <button type="submit">Update</button>
          </div>
        </div>
      </form>
      <div class="field-border" class="dib" id="plot-panel">
        {{ plot_html |> safe }}
      </div>
    </div>
  </div>
{% endblock %}
